  {{> nav}}

  <!-- MAIN -->
  <main>
    {{!-- {{#each noticias}}
      <p>{{this.id}}</p>
      <p>{{this.titulo}}</p>
      <p>{{this.legendaCard}}</p>
      <img src="{{this.imgCardSrc}}"></img>
      <a href="{{this.linkNoticia}}">Ir pra próxima tela</a>
      <p>{{this.descNoticia}}</p>
      <p>{{this.dataPubli}}</p> 
    {{/each}}  --}}

    <img class="anuncio-renata" src="/img/anuncioRenata.jpeg" alt="Anúncio Renata">

    <section class="section-sobre" id="sobre">
      <div>
        <h1>SOBRE NÓS</h1>
        <p>
          Criado por <span class="exclamacaoCor">David Alexandre e Thiago Moreira</span>, jovens estudantes do 2º ano de <span class="exclamacaoCor">Desenvolvimento de Sistemas
          da ETEC Cidade Tiradentes</span>. Iludidos pelo delírio de que DS Entramos na ETEC em Fevereiro de 2023!
        </p>
        <p>
          Este site é um projeto escolar feito na aula de Programação Web II supervisionado pelos Professor Everson Bacceli
        </p>
      </div>
      <img src="/img/sobreEtecFoto.jpg" alt="Logo da ETEC CT">
    </section>

    <section class="section-noticias" id="noticia">
      <h3>Notícias Populares</h3>

      <div id="carouselExampleCaptions" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
            aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
            aria-label="Slide 2"></button>
        </div>

        <div class="carousel-inner">

          <div class="carousel-item active">
            <a href="./noticiaDs.html">
              <img src="/img/imgSpf01.jpeg" class="d-block w-100" alt="...">
              <span class="camadaEscura"></span>
              <div class="carousel-caption d-md-block">
                <h5>2º DS quebrou tudo na SPF?</h5>
                <p>Entenda o caso<span class="exclamacaoCor">!</span></p>
              </div>
            </a>
          </div>
          
          <div class="carousel-item">
            <a href="./noticiaMine.html">
              <img src="/img/imgMine.avif" class="d-block w-100" alt="...">
              <span class="camadaEscura"></span>
              <div class="carousel-caption d-md-block">
                <h5>Criado novo servidor do Mine na ETEC<span class="exclamacaoCor">!</span></h5>
                <p>Entenda como entrar</p>
              </div>
            </a>
          </div>

        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Voltar</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Próximo</span>
        </button>
      </div>

      <section class="section-noticias-table">

        <div class="table-cards">

          <h4>Outras Notícias</h4>

          <div class="container-cards">
            {{#each noticias}}
              <div class="myCard">
                <img src="{{this.imgCardSrc}}" alt="...">
                <div>
                  <a href="{{this.linkNoticia}}">
                    <h5>{{this.titulo}}</h5>
                  </a>
                  <p>{{this.descNoticia}}</p>
                  <p><small class="text-body-secondary">{{this.dataPubli}}</small></p>
                </div>
              </div>

              <span class="linha"></span>
            {{/each}} 
          </div>

          <button class="btn btn-primary">Veja mais</button>
        </div>

        <div class="table-anuncios">
          <img src="/img/anuncioVest01.jpeg" alt="Anuncio Vestibulinho">
          <img src="/img/anuncioVest01.jpeg" alt="Anuncio Vestibulinho">
          <img src="/img/anuncioVest02.jpeg" alt="Anuncio Vestibulinho">
        </div>

      </section>
    </section>

  </main>


  {{> footer}}